.form {
    font: 1em Trebuchet MS,Myriad Pro;
}
.form select, .form input[type="text"],.form input[type="password"],.form input[type="search"]{
    border: 1px solid #DFDFDF;
    padding: 3px 4px;
    font-size: 1.7em;
    border-radius: 6px;
}
.form input[type="text"],.form input[type="password"],.form input[type="search"],textarea{
    width: 600px;
}
.form input[type="text"]:focus,.form input[type="password"]:focus,.form input[type="search"]:focus,textarea:focus{
    outline: medium none;
}
.form select,.form input[type="checkbox"],.form input[type="radio"]{
    cursor: pointer;
}
.form div.errors{
    font-size: 0.9em;
    color: #9E2323;
}

.form label{
    color: #090909;
    cursor: pointer;
}
.form div.form-element label{
    display: block;
    font-size: 1.2em;
}
.form div.checkbox label{
    display: inline;
}
.form div.checkbox input[type=checkbox]{
    float: left;
    margin: 0 5px 0 0;
}
.form div.form-element.inline label{
    display: inline;
}
.form div.form-element .description{
    color: #999999;
    font-size: 12px;
}
.form div.form-element.left > .form input {
    float: left;
}
.form div.submit, .form div.button, .form div.span{
    float: left;
    clear: none;
    margin: 0 5px 0 0; 
}
.form-element{
    clear: both;
    margin: 0 0 5px 0;
}
.form .error{
    border: 1px solid #FF8181;
}
.form div.errors{
    padding: 5px;
    color: #;
    max-width: 300px;
    position: relative;
    display: none;
    padding: 5px 10px;
    font-size: 123%;
    
}

.form fieldset{
    border: 1px solid #CCC;
    padding: 10px;
}
.form fieldset legend{
    padding: 0 5px;
}
a img{
    cursor: hand;
}
textarea{
    width:100%;
    height: 300px;
}
div.image-preview{
    position: relaitve;
}
div.image-preview a.delete{
    position: absolute;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
}
div.image-preview a.delete:hover{
    color: #CCC;
}
form div.form-element.tab{
    display: none;
}