.message{
    padding: 5px;
    border-radius: 5px;
    background: #000;
    opacity: 0.7;
    border: 1px solid #000;
    margin: 0 0 10px 0;
}
.message > p{
    margin: 0;
}
.message.success{
    background-color: #9edf73;
    border-color: #3f9e00;
}
.message.info{
    background-color: #ebec8f;
    border-color: #aeb017;
}
.message.error{
    background-color: #f0548b;
    border-color:  #95103f;
}