div.jGrowl div.error {
	background-color: #cc0000 !important;
	color: #FFF;
}

div.jGrowl div.success {
	background-color: #009900 !important;
	color: #FFF;
}

div.jGrowl div.info {
	background-color: #444 !important;
	color: #FFF;
}

div.jGrowl div.jGrowl-closer {
	background-color: #FFF !important;
	color: #222;
}