.msg{
    position: relative;
    clear: both;
    z-index:9999;
}

.msg.popup {
	border: 5px solid #EEEEEE;
    border-radius: 3px;
    background-color: #f9f7f7;
	color: #000000;
	padding: 5px;
}

.msg.success{
    background: #dbfedb;
}

.msg.error{
    background: #fedede;
}

.msg .msg-title{
    font-size: 1.2em;
    font-weight: bold;
}
.msg a.msg-close{
    position: absolute;
    right: 10px;
    top: 0px;
    color: #000000;
    text-decoration: none;
    font-family: Verdana;
	font-weight: bold;
    font-size: 16px;
}
.msg input[type=submit]{
    margin: 10px 5px 0;
}
.msg p.buttons{
    margin: 0;
}