/sites/cogear.new/uploads/files/1/.tmb/
/engine/elFinder/elfinder-2.0-beta/files/.tmb/
/engine/User/.tmb/
/sites/cogear.new/uploads/avatars/1/.thumbs/
/sites/cogear.new/uploads/avatars/1/.presets/
/sites/cogear.new/uploads/avatars/0/.thumbs/