/sites/cogear.new/uploads/avatars/1/.presets/
/sites/cogear.new/uploads/avatars/0/.presets/
/sites/cogear.new/uploads/avatars/0/.thumbs/
/sites/cogear.new/uploads/avatars/1/.thumbs/
/sites/cogear.new/uploads/users/1/.thumbs/
/sites/cogear.new/uploads/avatars/6/.presets/
/sites/cogear.new/uploads/avatars/6/.thumbs/
/sites/cogear.new/uploads/files/1/.tmb/
/sites/cogear.new/.presets/