table.grid {
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 11px;
    border-collapse: inherit;
}
table.grid thead tr th:first-child{
    border-radius: 11px 0 0 0;
}
table.grid thead tr th:last-child{
    border-radius: 0 11px 0 0;
}
table.grid tfoot tr th:first-child{
    border-radius: 0 0 0 11px;
}
table.grid tfoot tr th:last-child{
    border-radius: 0 0 11px 0;
}
table.grid thead tr th, table.grid tfoot tr th{
    background: #DFDFDF url("../images/thead-background.png") repeat-x left top;
    color: #333333;
}
table.grid tr{
    border-collapse: collapse;
}
table.grid th {
    text-shadow: 0 1px 0 #FFF;
    padding: 7px 7px 8px;
    text-align: left;
}
table.grid tr th.check {
    width:10px;
}
table.grid tr.active{
    background: #F7F7F7;
}
table.grid tr.controls{
}
table.grid tr.controls td, table.grid tr.controls th{
    padding: 10px 0;
    border-bottom: 1px dotted #CCC;
}