.container_16{
    margin:0;
    width: 100%;
}
body {
    background: #F9F9F9;
}
#header a
{
    float: left;
    font: 32px/125% 'Copse',Georgia,serif;
    font-style: italic;
    color: #eee;
    vertical-align: middle;
    line-height: 110px;
}
#header a:link, #header a:visited
{
    color: #999999;
    text-decoration: none;
    text-shadow: 0 2px 0 #FCF9EE, 0 4px 0 rgba(0, 0, 0, 0.15);
}

#header a:hover, #header a:active
{
    text-decoration: underline;
}
#content{
    background: #FFF;
    box-shadow: 1px 1px 3px #000;
    border-radius: 11px;
}
#top_title{
    height: 50px;
    float: left;
    width: 100%;
    background: url("../images/top_title_bg.png") repeat-x bottom left;
    border-radius: 11px 11px 0 0;
}
#top_title h1{
    padding: 5px 0 0 15px;
    font: italic 2em Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    text-shadow: 1px 1px 1px #FFF;
    border: none;
}
#content #wrapper {
    padding: 20px;
    float: left;
    width: 98%;
}
#footer{
    margin: 20px 0 0 0;
    width: 100%;
    height: 40px;
    border-top: 2px solid #D1D1D1;
    background: -moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4) repeat scroll 0 0 transparent;
    border-color: #D1D1D1;
    color: #777777;
    float: left;
}
#footer p{
    padding: 10px;
    vertical-align: middle;
    margin: 0px;
}
#footer p a{
    color: #222222;
    text-decoration: none;
}
#footer p a:hover{
    text-decoration: underline;
}