div.info{
   padding: 5px 10px;
   background: #E1F8E5;
   border: 2px groove #16B935;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin: 5px 0 10px 0;
}
div.info > p{
    font-size: 1.2em;
}