/* first level of sidebar menu */

.sidebar_menu ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: 14px tahoma;
	width: 190px; /* first level menu item widths */
	border-top: 1px solid #828288;
        z-index: 1;
	/*
	-webkit-box-shadow: -5px -3px 7px #333;
	-moz-box-shadow: -5px -3px 7px #333;
	box-shadow: -5px -3px 7px #333;
	*/
}

.sidebar_menu ul li
{
	position: relative;
}

/* TOP level sidebar menu links style */

.sidebar_menu ul li a
{
	display: block;
	/*overflow: auto; force hasLayout in IE7 */
	overflow: hidden; /*force hasLayout in IE7 */
	color: #e4e8ed;
	text-decoration: none;
	padding: 6px 0 7px 31px;
	white-space: nowrap;
}

.sidebar_menu ul li a:link,
.sidebar_menu ul li a:visited
{
	background-color: #282b32; /*background of tabs (default state)*/
	background-image: url('../images/menu_item.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

.sidebar_menu ul li a.active,
.sidebar_menu ul li a:active,
.sidebar_menu ul li a:hover
{
	background-color: #0d8dfe;
	background-position: top right;
	text-shadow: 1px 1px 0px #0a71c3;
}

.sidebar_menu ul li a.submenu:hover,
.sidebar_menu ul li a.hover
{
	/*background-position: 0 -30px;*/
	background-position: right -30px;
}

.sidebar_menu ul li a img
{
	position:absolute;
	top:7px;
	left: 8px;
	-moz-opacity:.85;
	filter:alpha(opacity=85);
	opacity:.85;
}

.sidebar_menu ul li a.active img,
.sidebar_menu ul li a:hover img,
.sidebar_menu ul li a:active img
{
	-moz-opacity:1;
	filter:alpha(opacity=100);
	opacity:1;
}

/* second level menus */

.sidebar_menu ul li ul
{
	position: absolute;
	background-color: #282b32;
	font-size:13px;
	padding: 16px 0 15px 0px;
	width: 180px; /*Sub Menu Items width */
	margin-top: -35px;
	left: 190px;
        display: none;
	padding: 6px 5px 10px 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 4px RGBA(0,0,0, 0.45);
	-moz-box-shadow: 3px 3px 4px RGBA(0,0,0, 0.45);
	box-shadow:3px 3px 4px RGBA(0,0,0, 0.45);
}

.sidebar_menu ul li ul a
{
	padding: 6px 0 7px 30px;
	background-position: left bottom !important;
	background-color: #e4e8ed;
}

.sidebar_menu ul li ul li a:hover,
.sidebar_menu ul li ul li a.hover
{
	background-image: url('../images/menu_item.png');
	background-repeat: no-repeat;
	background-position: left -60px !important;
}

/*
.sidebar_menu a.subfolderstyle
{
	background: url(right.gif) no-repeat 97% 50%;
}
*/

/* Holly Hack for IE \*/
* html .sidebar_menu ul li { float: left; height: 1%; }
* html .sidebar_menu ul li a { height: 1%; }


/* HORIZONTAL TABBED TOP MENU ================================= */

ul.top_menu
{
	list-style: none;
	margin: 0;
	padding: 0;
	float:left;
	width:100%;
	background: #fff url('../images/checkers_lite_bg.png');
	background-position: bottom;
	-webkit-border-top-left-radius: 11px;
	-webkit-border-top-right-radius: 11px;
	-moz-border-radius-topleft: 11px;
	-moz-border-radius-topright: 11px;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
        z-index: 100;
}

ul.top_menu a
{
	outline: none;
}

ul.top_menu li
{
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	width: auto;
}

ul.top_menu a
{
	color: #455359;
	display: block;
	width: auto;
	font-family: tahoma, sans-serif;
	font-size:13px;
	text-decoration: none;
	background: #eff2f3 url('../images/top_menu_item_bg.png');
	background-position: bottom;
	background-repeat: repeat-x;
	margin: 0;
	padding: 6px 11px;
	border-right: 1px solid #666666;
	border-left: 1px solid #fff;
	text-shadow: 1px 0px 0px RGBA(255,255,255, 0.4);
}

ul.top_menu a:hover, ul.top_menu a:active
{
	text-decoration:underline;
	color:#002;
        background: #e4e7e8 url('../images/top_title_bg.png');
		position: relative;
	z-index: 202;
}

ul.top_menu li.active a:link,
ul.top_menu li.active a:visited
{
	position: relative;
	z-index: 202;
	background: #e4e7e8 url('../images/top_title_bg.png');
	color: #000;
}

ul.top_menu .active a:hover
{
	text-decoration:none !important;
	color:#000;
	cursor: text !important;
}

ul.top_menu li:first-child,
ul.top_menu li:first-child a
{
	-webkit-border-top-left-radius: 11px;
	-moz-border-radius-topleft: 11px;
	border-top-left-radius: 11px;
	border-left-color: transparent;
}

ul.top_menu li.right,
ul.top_menu li.right a
{
	-webkit-border-top-right-radius: 11px;
	-moz-border-radius-topright: 11px;
	border-top-right-radius: 11px;
}

ul.top_menu li.right
{
	float:right;
}

ul.top_menu li.right a
{
	border-right: 0;
	border-left: 1px solid #666666;
}