#top_menu {
    margin: 0px;
}
#admin-menu ul{
    margin: 0;
    padding: 0;
}
#admin-menu ul li{
    list-style: none;
    paddging: 0;
    margin: 0;
}
#admin-menu > ul > li{
    border: 1px solid #edebeb;
    border-radius: 11px;
    border-collapse: separate;
    margin: 0 0 5px 0;
}
#admin-menu > ul a:hover{
    background: #F1F1F1;
}
#admin-menu > ul a{
    display: block;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #CCC;
    text-decoration: none;
    background: #F4F4F4;
}
#admin-menu > ul a > img{
    margin: 0 5px;
    vertical-align: middle;
}
#admin-menu ul li:hover ul {
    display: block;
}
#admin-menu ul ul{
    /*    display: none;*/
}
#admin-menu ul ul a{
    padding-left: 20px;
    background: #FEFEFE;
}
#admin-menu ul ul a:hover{
    background: #FAFAFA;
}
#admin-menu ul ul a.active:after{
    content: "";
    border: 2px solid #casdasd;
}

/**
 * TopMenu
*/
ul#top_menu
{
    list-style: none;
    margin: 0;
    padding: 0;
    float:left;
    width:100%;
    background: #fff url('../images/checkers_lite_bg.png');
    background-position: bottom;
    -webkit-border-top-left-radius: 11px;
    -webkit-border-top-right-radius: 11px;
    -moz-border-radius-topleft: 11px;
    -moz-border-radius-topright: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    z-index: 100;
}

ul#top_menu a
{
    outline: none;
}

ul#top_menu li
{
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    width: auto;
}

ul#top_menu a
{
    color: #455359;
    display: block;
    width: auto;
    font-family: tahoma, sans-serif;
    font-size:13px;
    text-decoration: none;
    background: #eff2f3 url('../images/top_menu_item_bg.png');
    background-position: bottom;
    background-repeat: repeat-x;
    margin: 0;
    padding: 6px 11px;
    border-right: 1px solid #CCC;
    border-left: 1px solid #fff;
    text-shadow: 1px 1px 2px #ffffff;
}

ul#top_menu a:hover, ul#top_menu a:active
{
    text-decoration:underline;
    color:#002;
    background: #e4e7e8 url('../images/top_title_bg.png');
    position: relative;
    z-index: 202;
}

ul#top_menu li.active a:link,
ul#top_menu li.active a:visited
{
    position: relative;
    z-index: 202;
    background: #e4e7e8 url('../images/top_title_bg.png');
    color: #000;
}

ul#top_menu .active a:hover
{
    text-decoration:none !important;
    color:#000;
    cursor: text !important;
}

ul#top_menu li:first-child,
ul#top_menu li:first-child a
{
    -webkit-border-top-left-radius: 11px;
    -moz-border-radius-topleft: 11px;
    border-top-left-radius: 11px;
    border-left-color: transparent;
}

ul#top_menu li.right,
ul#top_menu li.right a
{
    -webkit-border-top-right-radius: 11px;
    -moz-border-radius-topright: 11px;
    border-top-right-radius: 11px;
}

ul#top_menu li.right
{
    float:right;
}

ul#top_menu li.right a
{
    border-right: 0;
    border-left: 1px solid #666666;
}