/* Body and structure
-------------------------------------------------- */
body {
  background-color: #fff;
  position: relative;
}
section {
  padding-top: 60px;
}
section > .row {
  margin-bottom: 10px;
}
/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  min-width: 940px;
  padding-top: 40px;
}

.jumbotron h1,
.jumbotron p {
  margin-bottom: 9px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.jumbotron h1 {
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.jumbotron p {
  font-weight: 300;
}
.jumbotron .lead {
  font-size: 20px;
  line-height: 27px;
}
.jumbotron p a {
  color: #fff;
  font-weight: bold;
}	
	

.s {
    color: #4078A6;
    text-shadow: 0 1px 0 #FFFFFF;
	}
.cg {
    color: #666;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 50px;
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 0 #DDD, 0 -1px 0 #000;
	}
.cg:hover {
	text-decoration: none;
	color: #666;
	}
.hcj {
    color: #F17B27;
    display: block;
    font-family: Georgia,serif;
    font-size: 49px;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 3px 1px #BF3604, 0 2px 2px #999999;
	}
.hcj-h3 {
    color: #666;
    display: block;
    font-family: Georgia,serif;
    font-size: 29px;
    font-weight: 300;
    text-decoration: none;
    text-shadow: 0 1px 1px #395E87, 0 2px 2px #999999;
    text-indent: 40px;
	}
.span12 p {
	padding: 15px 20px 40px 40px;
	}
.header-cg, .footer-cg {
	background: none repeat scroll 0 0 #395E87;
	box-shadow: 0 0 250px #000000 inset;
	padding: 45px 0;
	}
.footer-cg {
	color: #FFF;
	}
.body-cg {
	background: #F8F8FF;
	}
